{% extends 'base_template.html' %}
{% block content %}
<div class="container" style="height: 80vh">
<h1>Enroll to: {{ teacher.teacherName.last_name }}</h1>
<form action="" method='post'>
  {% csrf_token %}
  {% comment %} I will continue fro here {% endcomment %}
    {% for subject in teacher.subjects.all %}
    <input type="checkbox" name="checks[]", value="{{ subject.id }}">
    <label for="subject">{{ subject.subjectName }}</label><br>
    {% endfor %}
  <input type="hidden" name="teacherId" value="{{ teacher.id }}">
  <div class="row">
    <div class="col-sm">
      <input type="submit" class="btn btn-primary rounded-1 p-1 m-1" value="Confirm">
    </div>
    <div class="col-sm">
      <a href="{% url 'base:teacherDetail' teacher.id %}" class="btn btn-primary rounded-1 p-1 m-1">Back</a>
    </div>
  </div>
</form>
</div>
{% endblock %}