{% extends 'base_template.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container m-3 p-3 mx-auto w-50" style="border: 1px solid #ccc;">
<h1>Register user</h1>
<form action="" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" class="btn btn-primary" value="Create Account">
  <p>Already have an account? Login <a href="{% url 'base:login' %}">Here</a></p>

  <div>
    {% if messages %}
      {% for message in messages %}
        <h5>{{ message }}</h5>
      {% endfor %}
    {% endif %}
  </div>
</form>
</div>
{% endblock %}