{% extends 'base_template.html' %}
{% block content %}
{% if request.user.is_authenticated %}
  <p>Logged in as: {{ request.user.last_name }}</p>
{% endif %}
<hr>
<h2>Students Using the site</h2>
<hr>
{% if students %}
{% for student in students %}
<div>
  <p>{{ student.studentName.last_name }} {{ student.studentName.first_name }}</p>
  <p>{{ student.currentSchool }} | {{ student.currentClass }}</p>
  <p>
    {% for subject in student.subjects.all %}
    {{ subject.subjectName }},
    {% endfor %}
  </p>
</div>
<hr>
{% endfor %}
{% else %}
<p>There are no students yet</p>
{% endif %}
<p><a href="{% url 'base:index' %}">Back</a>
  {% if not isRegistered %} 
   | <a href="{% url 'base:postStudent' %}">Register as Student</a>
  {% endif %}
{% endblock %}