{% extends 'base_template.html' %}
{% block content %}
<div class="container" style="height: 80vh;">
<div class="row">
  {% if subjects %}
    {% for subject in subjects %}
    <div class='col-sm'>
      <div class="card m-2 p-2" style="width: 18rem;">
        <img class="card-img-top" style="height: 250px;" src="{{ subject.subjectImage.url }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ subject.subjectName }}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="{% url 'base:viewSubjectTeachers' subject.id %}" class="btn btn-primary">View Teachers</a>
        </div>
    </div>
    </div>
    {% endfor %}
  {% else %}
    <h4>There are no subjects on the Site</h4>
  {% endif %}
</div>
</div>
{% endblock %}