{% extends 'base_template.html' %}
{% block content %}
<div class="container">
  <img class="card-img-top" style="border-radius: 50%; height: 300px; width: 300px" src="{{ teacher.teacherImage.url }}" alt="Card image cap">
<h1>{{ teacher.teacherName.last_name }} {{ teacher.teacherName.first_name }}</h1>
<div>
  <p>{{ teacher.currentSchool }}</p>
  <div>
    {{ teacher.teacherDescription}}
  </div>
  <div>
    {% for subject in teacher.subjects.all %}
      {{ subject.subjectName }},
    {% endfor %}
  </div>
  <p>{{ teacher.teacherName.email }}</p>
</div>
<form action="{% url 'base:confirmEnrolment' %}" method="get">
  <input type="hidden" name='teacherId' value="{{ teacher.id }}">
  <input type="submit" class="btn btn-primary" value="Enrol">
  <br><br>
  <p><a href="{% url 'base:teacherPage' %}" class="btn btn-primary">Back</a></p>
</form>
</div>
{% endblock %}