{% extends 'base_template.html' %}
{% block content %}
<h1>Welcome {{ teacher.teacherName.last_name }}</h1>
<hr>
<div>
  <div>
    <h2>Your Students</h2>
    <hr>
    {% for student in students %}
      <p>
        {{ student.student.studentName.last_name }} {{ student.student.studentName.first_name }} | {{ student.student.currentSchool }} | 
        {% for subject in student.student.subjects.all %}
          {{ subject.subjectName }}, 
        {% endfor%}
      </p>
    {% endfor %}
    <hr>
  </div>
</div>
<div class="row p-3 m-3">
<div class="col-sm">
  <a href="{% url 'base:teacherPage' %}" class="btn btn-primary rounded-1">Back</a>
</div>
</div>
{% endblock %}