{% extends 'base_template.html' %}
{% block content %}
<p><h2>Teachers on the site</h2></p>
<hr>
{% for teacher in teachers %}
  <div class="card col-sm m-2 p-2" style="width: 18rem;">
    <img class="card-img-top" style="height: 300px;" src="{{ teacher.teacherImage.url }}" alt="{{ teacher.teacherName.last_name}}">
    <h5 class="card-title">{{ teacher.teacherName.last_name }} {{ teacher.teacherName.first_name }}</h5> {{ teacher.currentSchool }}</p>
    <p class="card-text">
      {% for subject in teacher.subjects.all %}
        {{ subject.subjectName }}, 
        {% endfor %}
        <br>
        <a class="btn btn-primary" href="{% url 'base:teacherDetail' teacher.id %}">View More</a>
        {% if request.user.id == teacher.teacherName.id %}
           <a class="btn btn-primary" href="{% url 'base:teacherProfile' teacher.id %}">My Profile</a>
        {% endif %}
      </p>
    <hr>
  </div>
{% endfor %}
{% if not isRegistered %}
<p>When you're ready, Upload your details <a href="{% url 'base:postTeacher' %}">Here</a></p><br>
{% endif %}
<p><a href="{% url 'base:index' %}">Back</a></p>
{% endblock %}