{% extends 'base_template.html' %}
{% block content %}
<p><h2>Teachers on the site</h2></p>
<hr>
<div class="row">
  {% for teacher in teachers %}
  <div class='col-sm'>
    <div class="card m-2 p-2" style="width: 18rem;">
      <img class="card-img-top" style="height: 300px;" src="{{ teacher.teacherImage.url }}" alt="{{ teacher.teacherName.last_name}}">
      <h5 class="card-title">{{ teacher.teacherName.last_name }} {{ teacher.teacherName.first_name }}</h5> {{ teacher.currentSchool }}</p>
      <p class="card-text">
        {% for subject in teacher.subjects.all %}
          {{ subject.subjectName }},
          {% endfor %}
          <br>
        </p>
        <h6 class="card-title">{{ teacher.teacherFee }}</h6>
        <div class="row">
          <div class="col-sm">
            <a class="btn btn-primary rounded-1" href="{% url 'base:teacherDetail' teacher.id %}">View More</a>
          </div>
          {% if request.user.id == teacher.teacherName.id %}
          <div class="col-sm">
            <a class="btn btn-primary rounded-1" href="{% url 'base:teacherProfile' teacher.id %}">My Profile</a>
          </div>
          {% endif %}

        </div>
    </div>
  </div>
  {% endfor %}
</div>
<hr>
<div class="row" style="margin: 10px;">
{% if not isRegistered and not isStudent %}
<a href="{% url 'base:postTeacher' %}" style="width: 50%; margin: auto; border-radius: 5px;" class="btn btn-primary">Register As Teacher</a>
{% endif %}
</div>
<div class="row" style="margin: 10px;">
<a href="{% url 'base:index' %}" style="width: 50%; margin: auto; border-radius: 5px;" class="btn btn-primary">Back</a>
</div>
{% endblock %}