{% extends 'base_template.html' %}
{% block content %}
<p><h2>Teachers on the site</h2></p>
<hr>
<div class="row">
  {% for teacher in teachers %}
  <div class='col-sm'>
    <div class="card m-2 p-2" style="width: 18rem;">
      <img class="card-img-top" style="height: 300px;" src="{{ teacher.teacherImage.url }}" alt="{{ teacher.teacherName.last_name}}">
      <h5 class="card-title">{{ teacher.teacherName.last_name }} {{ teacher.teacherName.first_name }}</h5> {{ teacher.currentSchool }}</p>
      <p class="card-text">
        {% for subject in teacher.subjects.all %}
          {{ subject.subjectName }}, 
          {% endfor %}
          <br>
          <a class="btn btn-primary" href="{% url 'base:teacherDetail' teacher.id %}">View More</a>
          {% if request.user.id == teacher.teacherName.id %}
             <a class="btn btn-primary" href="{% url 'base:teacherProfile' teacher.id %}">My Profile</a>
          {% endif %}
        </p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}